In [1]:
import pandas as pd

In [5]:
# Read in data
yelp_business_path = "../data/yelp_dataset/yelp_academic_dataset_business.json"
yelp_b_df = pd.read_json(yelp_business_path, lines=True)

In [6]:
# Concat name and city together
df = yelp_b_df[["name", "city"]].copy()
df["combined"] = yelp_b_df["name"] + " " + yelp_b_df["city"]

# This is the function for stripping values that we are working on
df["combined"] = df["combined"].str.strip(".-,")
df.head()

,name,city,combined
0,The Range At Lake Norman,Cornelius,The Range At Lake Norman Cornelius
1,"Carlos Santo, NMD",Scottsdale,"Carlos Santo, NMD Scottsdale"
2,Felinus,Montreal,Felinus Montreal
3,Nevada House of Hose,North Las Vegas,Nevada House of Hose North Las Vegas
4,USE MY GUY SERVICES LLC,Mesa,USE MY GUY SERVICES LLC Mesa

In [7]:
# Save the data
# df.to_csv("web_scrape_names.csv")

In [ ]:
# https://www.yelp.com/biz/big-chickie-seattle

# The pandas apply function to append to the list
ls = []
def ls_maker(x): 
    web_string = f"https://www.yelp.com/biz/{str(x).replace(' ', '-')}"
    ls.append(web_string)
    return

df["biz_city"].apply(ls_maker)