- Try census data to find demographics
- PPP dataset

## Business Problem
- web scrape post PPP data
- look at unemployment data/claims

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

### Load Data

In [55]:
# Paths
yelp_covid19_path = "../data/covid_19_dataset_2020_06_10/yelp_academic_dataset_covid_features.json"
yelp_business_path = "../data/yelp_dataset/yelp_academic_dataset_business.json"
yelp_business_path_2 = "../data/yelp_dataset/yelp_academic_dataset_business 2.json"
yelp_checkin_path = "../data/yelp_dataset/yelp_academic_dataset_checkin.json"
ppp_path = "../data/PPP_data_150k_plus.csv"
naics_path = "../data/2017_NAICS_Structure.xlsx"

#Load Data into DF's
yelp_covid_df = pd.read_json(yelp_covid19_path, lines=True)
yelp_b_df = pd.read_json(yelp_business_path, lines=True)

yelp_b_df_2 = pd.read_json(yelp_business_path_2, lines=True)

yelp_check_df = pd.read_json(yelp_checkin_path, lines=True)
naics_df = pd.read_excel(naics_path, header=2)
ppp = pd.read_csv(ppp_path)

In [19]:
naics_df = pd.read_excel(naics_path, header=2)
print(naics_df.shape)
naics_df.head()

(2215, 3)

,Change Indicator,2017 NAICS Code,2017 NAICS Title
0,NaN,11,"Agriculture, Forestry, Fishing and HuntingT"
1,NaN,111,Crop ProductionT
2,NaN,1111,Oilseed and Grain FarmingT
3,NaN,11111,Soybean FarmingT
4,NaN,111110,Soybean Farming

In [61]:
yelp_b_df_2["state"].value_counts()[:10]

AZ    True
NV    True
ON    True
OH    True
NC    True
PA    True
QC    True
AB    True
WI    True
IL    True
Name: state, dtype: bool

In [62]:
yelp_b_df["state"].value_counts()

AZ     60803
NV     39084
ON     36627
OH     16392
NC     16218
PA     12376
QC     10233
AB      8682
WI      5525
IL      2034
SC      1328
CA        23
NY        22
TX         6
WA         5
GA         3
FL         3
AL         3
VT         2
MI         2
UT         2
CT         2
BC         2
CO         2
NE         2
MO         1
VA         1
XWY        1
YT         1
HI         1
DOW        1
AK         1
MB         1
DUR        1
OR         1
AR         1
HPL        1
Name: state, dtype: int64

In [47]:
test = ppp[ppp["NAICSCode"].isna() == False]
test.shape

(654435, 16)

In [49]:
df_new = test.merge(naics_df, how="left", left_on="NAICSCode", right_on="2017 NAICS Code")
df_new["2017 NAICS Title"].value_counts()

Full-Service Restaurants                                     33608
Offices of Physicians (except Mental Health Specialists)     20932
Offices of Lawyers                                           14310
Plumbing, Heating, and Air-Conditioning Contractors          13140
New Car Dealers                                              12694
                                                             ...
Potash, Soda, and Borate Mineral Mining                          2
Goat Farming                                                     2
Drive-In Motion Picture Theaters                                 2
Executive and Legislative Offices, Combined                      2
Uranium-Radium-Vanadium Ore Mining                               1
Name: 2017 NAICS Title, Length: 1056, dtype: int64

In [78]:
state_ls = ["AZ", "NV", "OH", "NC", "PA", "WI", "IL", "SC"]
df_new[df_new["State"].isin(state_ls)]["2017 NAICS Title"].value_counts()[:20]

Full-Service Restaurants                                            5804
Offices of Physicians (except Mental Health Specialists)            3731
New Car Dealers                                                     2993
Plumbing, Heating, and Air-Conditioning Contractors                 2901
Offices of Lawyers                                                  2615
Religious Organizations                                             2313
Offices of Dentists                                                 2253
Commercial and Institutional Building Construction                  2079
Limited-Service Restaurants                                         2009
Electrical Contractors and Other Wiring Installation Contractors    1856
Home Health Care Services                                           1644
Engineering Services                                                1520
Nursing Care Facilities (Skilled Nursing Facilities)                1480
Elementary and Secondary Schools                                    1456
Hotels (except Casino Hotels) and Motels                            1408
All Other Specialty Trade Contractors                               1358
General Freight Trucking, Local                                     1197
Landscaping Services                                                1173
All Other Business Support Services                                 1071
Custom Computer Programming Services                                 981
Name: 2017 NAICS Title, dtype: int64

In [73]:
yelp_b_df[yelp_b_df["state"].isin(["AZ", "NV", "OH", "NC", "PA", "WI", "IL", "SC"])]["state"].value_counts()

AZ    60803
NV    39084
OH    16392
NC    16218
PA    12376
WI     5525
IL     2034
SC     1328
Name: state, dtype: int64

In [5]:
ppp.shape

(661218, 16)

In [5]:
ppp["LoanRange"].value_counts()

e $150,000-350,000      379054
d $350,000-1 million    199456
c $1-2 million           53030
b $2-5 million           24838
a $5-10 million           4840
Name: LoanRange, dtype: int64

In [6]:
ppp["Gender"].apply(lambda x : )

SyntaxError: invalid syntax (<ipython-input-6-1a37ac91814c>, line 1)

In [ ]:
def cleaner(x):
    return x.lower().strip


df_merge = pd.merge(ppp, yelp_b_df, left_on="BusinessName", right_on="address")
df_merge.shape

In [ ]:
ppp["address"][0]

### Covid Data

In [6]:
print(yelp_covid_df.shape)
yelp_covid_df.head()

(209795, 9)

,business_id,highlights,delivery or takeout,Grubhub enabled,Call To Action enabled,Request a Quote Enabled,Covid Banner,Temporary Closed Until,Virtual Services Offered
0,9kXRUIkwdDtnAPO6tVo51g,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
1,H6D5HOTfMjrZt7r1EObZ1g,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
2,FYddq7fUtzobZcw4jOJgVA,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
3,c75jLTjlgA9q3gImLEGT6w,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
4,YfzPiY50h_10Sjlg3mnNWQ,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE

### Business Data

In [10]:
print(yelp_b_df.shape)
yelp_b_df.head()

(209393, 14)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,f9NumwFMBDn751xgFiRbNA,The Range At Lake Norman,10913 Bailey Rd,Cornelius,NC,28031,35.462724,-80.852612,3.5,36,1,"{'BusinessAcceptsCreditCards': 'True', 'BikePa...","Active Life, Gun/Rifle Ranges, Guns & Ammo, Sh...","{'Monday': '10:0-18:0', 'Tuesday': '11:0-20:0'..."
1,Yzvjg0SayhoZgCljUJRF9Q,"Carlos Santo, NMD","8880 E Via Linda, Ste 107",Scottsdale,AZ,85258,33.569404,-111.890264,5.0,4,1,"{'GoodForKids': 'True', 'ByAppointmentOnly': '...","Health & Medical, Fitness & Instruction, Yoga,...",None
2,XNoUzKckATkOD1hP6vghZg,Felinus,3554 Rue Notre-Dame O,Montreal,QC,H4C 1P4,45.479984,-73.580070,5.0,5,1,None,"Pets, Pet Services, Pet Groomers",None
3,6OAZjbxqM5ol29BuHsil3w,Nevada House of Hose,1015 Sharp Cir,North Las Vegas,NV,89030,36.219728,-115.127725,2.5,3,0,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Hardware Stores, Home Services, Building Suppl...","{'Monday': '7:0-16:0', 'Tuesday': '7:0-16:0', ..."
4,51M2Kk903DFYI6gnB5I6SQ,USE MY GUY SERVICES LLC,4827 E Downing Cir,Mesa,AZ,85205,33.428065,-111.726648,4.5,26,1,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Home Services, Plumbing, Electricians, Handyma...","{'Monday': '0:0-0:0', 'Tuesday': '9:0-16:0', '..."

In [11]:
yelp_b_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209393 entries, 0 to 209392
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   209393 non-null  object
 1   name          209393 non-null  object
 2   address       209393 non-null  object
 3   city          209393 non-null  object
 4   state         209393 non-null  object
 5   postal_code   209393 non-null  object
 6   latitude      209393 non-null  float64
 7   longitude     209393 non-null  float64
 8   stars         209393 non-null  float64
 9   review_count  209393 non-null  int64
 10  is_open       209393 non-null  int64
 11  attributes    180348 non-null  object
 12  categories    208869 non-null  object
 13  hours         164550 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 22.4+ MB

In [15]:
yelp_b_df["is_open"].value_counts()

1    168903
0     40490
Name: is_open, dtype: int64

In [20]:
yelp_b_df["state"].value_counts()[:10]

AZ    60803
NV    39084
ON    36627
OH    16392
NC    16218
PA    12376
QC    10233
AB     8682
WI     5525
IL     2034
Name: state, dtype: int64

In [21]:
yelp_b_df[yelp_b_df["is_open"] == 0]["state"].value_counts()[:10]

AZ    11388
ON     8194
NV     7904
NC     2785
OH     2630
PA     2170
QC     2018
AB     1644
WI     1092
IL      441
Name: state, dtype: int64

In [13]:
yelp_b_df["attributes"][3]

{'BusinessAcceptsCreditCards': 'True',
 'ByAppointmentOnly': 'False',
 'DogsAllowed': 'True',
 'BikeParking': 'True',
 'BusinessParking': "{'garage': False, 'street': False, 'validated': False, 'lot': True, 'valet': False}",
 'RestaurantsPriceRange2': '4'}

In [20]:
state_ls = list(yelp_b_df["state"].value_counts()[:11].index)

Index(['AZ', 'NV', 'ON', 'OH', 'NC', 'PA', 'QC', 'AB', 'WI', 'IL', 'SC'], dtype='object')

### Checkin Data

In [18]:
print(yelp_check_df.shape)
yelp_check_df.head()

(175187, 2)

              business_id                                               date
0  --1UhMGODdWsrMastO9DZw  2016-04-26 19:49:16, 2016-08-30 18:36:57, 2016...
1  --6MefnULPED_I942VcFNA  2011-06-04 18:22:23, 2011-07-23 23:51:33, 2012...
2  --7zmmkVg-IMGaXbuVd0SQ  2014-12-29 19:25:50, 2015-01-17 01:49:14, 2015...
3  --8LPVSo5i0Oo61X01sV9A                                2016-07-08 16:43:30
4  --9QQLMTbFzLJ_oT-ON3Xw  2010-06-26 17:39:07, 2010-08-01 20:06:21, 2010...

In [21]:
yelp_check_df.iloc[0]["date"].split(",")

['2016-04-26 19:49:16',
 ' 2016-08-30 18:36:57',
 ' 2016-10-15 02:45:18',
 ' 2016-11-18 01:54:50',
 ' 2017-04-20 18:39:06',
 ' 2017-05-03 17:58:02',
 ' 2019-03-19 22:04:48']